.App {
  text-align: center;
  margin-top: 80px;
}

.btnWrapper{
  margin-top: 50px;
}

.addBtn{
  background: rgb(48, 152, 236);
  color: #fff;
  border: none;
  padding: 8px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.subBtn{
  background: rgb(48, 152, 236);
  color: #fff;
  border: none;
  padding: 8px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-left: 50px;
}